<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="codemirror-5.65.15/lib/codemirror.css" rel="stylesheet" />
		<!-- <link href="../codemirror-5.65.15/theme/dracula.css" rel="stylesheet" /> -->
		<script src="codemirror-5.65.15/lib/codemirror.js"></script>
		<!-- <script src="../codemirror-5.65.15/mode/xml/xml.js"></script> -->
		<script src="codemirror-5.65.15/mode/javascript/javascript.js"></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap"
			rel="stylesheet"
		/>
		<link href="/css/post.css" rel="stylesheet" />
	</head>
	<body>
		<%- include('includes/navigation.ejs') %>
		<main class="main3">
			<form class="content_form" action="/update-content" method="post">
                <% for (const key of post_position_arr) {  %>
                    <% if (key.post_type === "title") { %>
                        <div class="title_input_section input_section">
                            <h2>Title:</h2>
                            <input
                                type="text"
                                class="title_input"
                                name="title_content_save"
                                value="<%= key.title %>"
                            />
                        </div>
                    <% } %>
                    <% if(key.post_type === "subtitle"){ %>
                        <div class="subtitle_input_section input_section">
                            <h2>Sub Title:</h2>
                            <input
                                type="text"
                                class="subtitle_input"
                                name="subtitle_content_<%= key.page_position %>save"
                                value="<%= key.subtitle %>"
                            />
                            
                        </div>
                    <% } %>
                    <% if(key.post_type === "code") {%>
                        <div class="code_input_section text_input_section">
                            <h2>Code:</h2>
                            <textarea
                                class="code_input"
                                name="code_content_<%= key.page_position %>save"
                            ><%= key.code %></textarea>
                            
                        </div>
                    <% } %>
                    <% if(key.post_type === "description") {%>
                        <div class="description_input_section text_input_section">
                            <h2>Description:</h2>
                            <textarea
                                class="description_input"
                                name="description_content_<%= key.page_position %>save"
                                onclick="if (this.value.length === 0) { this.selectionStart = 0; this.selectionEnd = 0; this.focus(); }"
                            >
                            <%= key.description %>
                            </textarea>
                            
                        </div>
                    <% } %>
                    <% if(key.post_type === "output") {%>
                        <div class="output_input_section text_input_section">
                            <h2>Output:</h2>
                            <textarea
                                class="output_input"
                                name="output_content_<%= key.page_position %>save"
                                onclick="if (this.value.length === 0) { this.selectionStart = 0; this.selectionEnd = 0; this.focus(); }"
                            ><%= key.output %></textarea>
                            
                        </div>
                    <% } %>
                    <% if(key.post_type === "language_used") {%>
                        <div class="code_used_input">
                            <span>Code Used:</span>
                            <select id="myDropdown" name="selectedOption">
                                <option value="C" <%= (key.language_used === 'C')? 'selected':'' %>>C</option>
                                <option value="javascript" <%= (key.language_used === 'javascript')? 'selected':'' %>>JavaScript</option>
                                <option value="c++" <%= (key.language_used === 'C++')? 'selected':'' %>>C++</option>
                                <option value="pearl" <%= (key.language_used === 'pearl')? 'selected':'' %>>Pearl</option>
                            </select>
                        </div>
                    <% } %>
                <% } %>
                <input type="hidden" value="<%= totalComments %>" name="totalComments">
                <input type="hidden" value="<%= upvote %>" name="upvote">
                <input type="hidden" value="<%= post_id %>" name="post_id">
				<button class="submit-btn">Submit</button>
			</form>
		</main>

		<!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Footer----------------------------------------------------------------------------------------------------------------------------------------------->
		<footer>
			<section class="foot">
				<div class="copyright_msg">Copyright © 2023 Code Sanjal</div>
				<div class="contact_info">
					<div class="footer_info">About Us</div>
					<div>|</div>
					<div class="footer_info">Contact</div>
					<div>|</div>
					<div class="footer_info">Instagram</div>
					<div>|</div>
					<div class="footer_info">Terms and services</div>
				</div>
				<!-- <div class="country">Nepal 🚩</div> -->
			</section>
		</footer>
	</body>
	<script src="/js/script.js"></script>
	<!-- <script src="/js/edit.js"></script> -->
</html>
